@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-primary: #87bba2;
    --color-secondary: #c9e4ca;
    --color-tertiary: #55828b;
    --color-four: #3B6064;
    --color-five: #364958;
}